%h1
  Here's the scoop...
#index_container
  %p
    I was born I Guatemala but raised in San Francisco. And now, Jack and Ben put up with me.
  %ul.about_list
    %li
      .list_image
        = image_tag ('coffee1.jpg')
      .list_body
        %p
          With so many cofffe shops in SF, I choose
          %a{:href => 'http://sightglasscoffee.com/', :title => 'Slight Glass', :target => "_blank"}
            Slight Glass Coffee. 
        %p
          This hidden gem is located in the SoMa District! With a sketchpad in hand, and 3 bucks, I can easily make my way to this spot. 
    %li        
      .list_image
        = image_tag ('monica1.jpg')
      .list_body
        %p
          My better half. She loves me and I love her.
    %li  
      .list_image    
        = image_tag ('piano1.jpg')
      .list_body
        %p
          Ah, music...how wonderful you are. One of my favorite things to do. Write and play music.
  %p
    Just a young dude looking to building my talents and career more and more everyday.
