// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// post_index
// post_title
// post_body_container
// post_date
// post_links
// post_title_new


input[type="submit"] {
	height: 30px;
	width: 298px;
	font-size: 15px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#91DDFF), to(#558599));
	background-color: transparent;
	cursor: pointer;
	$bsc: 7px;
		border-top-left-radius: $bsc;
	border-bottom-right-radius: $bsc;
	border-top-right-radius: $bsc;
	border-bottom-left-radius: $bsc;
	border: 1px #91DDFF;
}

//textarea {
//	background-color: #e4e4e4;
//	border: 2px inset;
//	margin-top: 5px;
//}

#post_body {
	background-color: #e4e4e4;
	border: 2px inset;
	margin-top: 5px;
}

#post_title {
	background-color: #e4e4e4;
	width: 295px;
	height: 20px;
	margin-top: 5px;
}

.notice {
	text-align: center;
	color: #ba4f0a;
	width: 675px;
	background-color: #ccc;
}


.field {
	font-size: 14px;
	padding-bottom: 10px;
	color: #5F91A7;
}


.post_title_new {
	color: blue;
	font-size: 20px;
}

.new_post_box {
	background-color: #222;
	width: 324px;
	height: 410px;
	$bsc: 15px;
	padding: 25px 0 0 25px;
	border-top-left-radius: $bsc;
	border-bottom-right-radius: $bsc;
	border-top-right-radius: $bsc;
	border-bottom-left-radius: $bsc;
	box-shadow: 0 5px 8px 1px #222;
}

.new_post_button {
	width: 120px;
	height: 30px;
	margin: 15px auto;
	text-align: center;
	font-size: 12px;
	line-height: 2.5em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#b2b2b2));
	$bsc: 5px;
	border-top-left-radius: $bsc;
	border-bottom-right-radius: $bsc;
	border-top-right-radius: $bsc;
	border-bottom-left-radius: $bsc;
	cursor: pointer;
	a {
		text-decoration: none;
	  color: #222;
	  &:visited {
	    color: #222; }
	  &:hover {
	    color: #222; }
	}
}

.posts_index {
	list-style-type: none;
	color: #333;
	font-size: 18px;
	a {
		text-decoration: none;
  	color: #B22F21;
  	&:visited {
    color: #B22F21; }
  	&:hover {
    color: #222;
 		text-decoration: underline;}
	}
	li {
		padding: 20px;
	}
}

.posts_nav_links {
	font-size: 15px;
	a {
		text-decoration: none;
  	color: #222;
  	&:visited {
    color: #222; }
  	&:hover {
    color: #ccc; }
	}
}